@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.description {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 10px;
}

input[type="number"] {
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

.chart-container {
  position: relative;
  margin-top: 20px;
}

#resultado {
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.table-description {
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
